/* Styles for the credit card table */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px auto;
}

th, td {
	text-align: center;
	padding: 12px;
	border-bottom: 1px solid #ddd; /* Light grey border for each row */
}

th {
	background-color: #0073e6; /* Blue to match header */
	color: white; /* White text for headers */
}

td {
	background-color: #f4f7fc; /* Matching the content area background */
	color: #333; /* Dark grey for text */
}

/* Add spacing between action buttons in the table */
td form {
  margin-bottom: 5px; /* Adjust the space between the forms as needed */
}

td form:last-child {
  margin-bottom: 0; /* No space after the last button to align with table row */
}


tbody tr:hover {
	background-color: #e1f0ff; /* Light blue for hover effect */
}

.actions-container {
	display: flex;
	justify-content: center;
	gap: 50px; /* This will create 10px space between each button */
	margin: 50px auto;
	/* Other styles */
}

.actions-container .credit-action-buttons {
	background-color: white;
	color: #0051ba;
	border: #0051ba solid 1px;
}

.actions-container .credit-action-buttons:hover {
	background-color: #0051ba;
	/* Change background to the same color as the text */
	color: white; /* Change text color to white for contrast */
	border-color: #003585;
	/* Slightly darker shade of the original blue for the border */
}

/* This will space out the buttons inside each td */
.button-container {
    display: flex; /* Use flexbox to layout the buttons */
    flex-wrap: wrap; /* Allow the items to wrap as needed */
    justify-content: space-around; /* Space out buttons evenly */
    align-items: center; /* Align items vertically */
}

/* Style for the container of each row of buttons */
.actions-row {
/*     display: flex; Use flexbox to align buttons in a row */
/*     justify-content: space-evenly; Space buttons evenly */
/*     margin-bottom: 5px; Space between rows */
    max-width: 150px; /* Match this width to the column width you desire */
    margin: 0 auto; /* This will keep the dropdown or modal centered under the button */
}

/* Special style for the single button in the last row to center it */
.form-button-single {
    margin: 0 auto; /* Auto margins center the button */
}

/* You might need to adjust the width of the 'Actions' column */
#myTable th:last-child, 
#myTable td:last-child {
    width: 150px; /* Adjust the width as needed to make the column narrower */
}

/* Style each form as a button */
.form-button {
    margin: 0 2px; /* Space between buttons, adjust as needed */
    flex: 1; /* Each button grows to fill the space */
}


.credit-action-buttons {
	background-color: #0051ba; /* Blue background to match the theme */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 20px;
	margin: 2px; /* Add horizontal margins between buttons */
	/* NEWWWWW */
	width: auto;
}

.non-credit-action-buttons {
	background-color: #A6ACAF; /* Grey background */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px;
	margin: 2px; /* Add horizontal margins between buttons */
	/* NEWWWWW */
	width: 100%;
}

.credit-action-buttons:hover {
	background-color: #003c8f; /* Darker blue on hover */
}

/* Specific styles for admin-only options */
.admin-action {
	font-style: italic; /* Italicize admin specific links */
	color: #ff4500; /* Orange color for emphasis */
}

/* NEWWWW */
.payment-form {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.form-section {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.input-group {
	margin-bottom: 10px;
}

.input-group label {
	display: block;
	margin-bottom: 5px;
}

.input-group input, .input-group select {
	width: calc(100% - 10px);
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.legend {
	font-size: 18px;
	color: #333;
}

h2 {
	font-size: 24px; /* Adjust size as needed */
	font-family: 'Arial', sans-serif;
	/* Choose the font family you prefer */
	color: #333; /* A dark color for the title */
	text-align: center; /* Center-align the title */
	margin-top: 20px; /* Adjust to ensure it's below the header */
	margin-bottom: 30px; /* Space before the content starts */
	font-weight: bold; /* Makes the title bold */
}

form.payment-form fieldset.form-section legend {

    font-weight: bold; /* Bolds the legend text */
    font-size: 20px; /* Adjust the font size as desired */
    padding: 0 5px; /* Optional: Adds padding around the text */
    margin-bottom: 10px; /* Optional: Adds space below the legend */
}


/* Bolden the content in specific table columns */
#myTable td:nth-child(1),
#myTable td:nth-child(2),
#myTable td:nth-child(3) {
  font-weight: bold; /* This will make the text bold */
}

.actions-dropdown {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0,0,255,10);
  position: absolute;
  z-index: 100;
  width: 200px; /* Adjust as needed */
  padding: 10px;
  display: none; /* Initially hidden */
}

.actions-dropdown form {
  margin-bottom: 5px;
}

.actions-dropdown form:last-child {
  margin-bottom: 0;
}

