/* General body styling */
body {
	margin: 0;
	font-family: Arial, sans-serif;
}

/* Top navigation bar styling */
.top-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-color: #0051ba;
	position: fixed;
	/* Allows absolute positioning relative to this container */
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2; /* Stays on top */
}

.menu-btn {
	position: absolute;
	left: 10px; /* Positions menu button to the left */
	z-index: 3; /* Ensures button is clickable over other content */
}

/* Logo styling */
.top-bar img.center-logo {
	max-height: 50px; /* Adjust the size of your logo as needed */
	margin: 0 auto; /* Auto margins center the logo */
}

/* Side menu styling */
.side-menu {
	height: 100vh;
	width: 250px;
	position: fixed;
	z-index: 1; /* Lower than the top bar to keep it underneath */
	top: 0;
	left: 0; /* Changed to make the sidebar visible by default */
	background-color: #333;
	overflow-x: hidden;
	transition: left 0.5s;
	/* Smooth transition for showing and hiding the menu */
	padding-top: 55px; /* Spacing at the top */
}

/* Condition for hiding the sidebar when it's not active */
.side-menu:not(.menu-active) {
	left: -250px; /* Moves the sidebar out of view */
}

/* User greeting area styling */
.user-greeting {
	color: #fff; /* Sets text color to white */
	background: #0051ba; /* Blue background for the greeting area */
	padding: 10px 32px; /* Adequate padding for visual comfort */
	font-size: 18px; /* Larger font size for better readability */
	text-align: left; /* Aligns text to the left */
	margin-top: 13px; /* Margin top for spacing */
	margin-bottom: 20px; /* Margin bottom for spacing */
}

/* Styling for links and logout button in the side menu */
.side-menu a, .side-menu .login-button {
	padding: 8px 8px 8px 32px; /* Padding for alignment and spacing */
	text-decoration: none; /* Removes underline from links */
	font-size: 18px; /* Font size for readability */
	color: #ffffff; /* Text color set to white */
	display: block;
	/* Makes each link/block element for better click area */
	transition: color 0.3s; /* Transition for hover effects */
}

.login-button {
	border: none;
	background-color: #333;
	cursor: pointer;
}

/* Hover effects for links and logout button */
.side-menu a:hover, .side-menu .login-button:hover {
	color: #5C85D6; /* Light blue color on hover for visual feedback */
}

/* Button used to toggle the sidebar's visibility */
.menu-btn {
	cursor: pointer; /* Indicates the element is clickable */
	font-size: 30px; /* Larger font size for the menu icon */
	color: white; /*#818181;  Grey color for the icon/button */
	z-index: 2; /* Ensures the button is clickable over other content */
	position: relative; /* Needed for proper placement */
}

/* Main content CSS */
.main-content {
  transition: margin-left 0.5s; /* Smooth transition for margin changes */
  padding: 20px; 
  padding-top: 80px;
  background-color: #f4f7fc;
  min-height: calc(100vh - 80px);
}

.main-content.content-expand {
  margin-left: 0; /* Remove left margin when sidebar is hidden */
}

/* Condition for hiding the sidebar when it's not active */
.main-content:not(.content-expand) {
	margin-left: 250px; /* Moves the sidebar out of view */
}

/* Ensures the logo link does not disrupt the flex layout */
.top-bar .logo-link {
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Removes underline from the link */
    
}

/* Ensures the logo maintains its properties */
.top-bar img.center-logo {
    max-height: 50px; /* Keep existing height */
    margin: 0 auto; /* Center the logo within the link */
    width: auto;
}

.error-message {
	color: #d8000c;
	background-color: #ffd2d2;
	padding: 5px;
	border-radius: 5px;
	font-size: 0.9em;
	/* position: absolute; */
	/* bottom: -5px;  *//* Positioning the error message below the input */
	/* left: 0; */
	/* right: 0; */ /* Ensures the width matches the input field */
	text-align: center; /* Centers the text in the error message */
	display: none; /* Hide by default, display when there's an error */
}
