body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #0051ba;
	position: relative;
	z-index: 1;
}

.logo-container {
	flex-grow: 1;
	text-align: center;
}

.top-bar img.center-logo {
	max-height: 50px;
}

.side-menu {
	height: 100vh;
	width: 250px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: -250px;
	background-color: #333;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.user-greeting {
  color: #fff; /* White text color for the greeting */
  background: #0051ba; /* Darker background for the greeting area */
  padding: 10px 32px; /* Padding to space out the text */
  font-size: 18px; /* Font size for the greeting */
  text-align: left; /* Align text to the left */
  margin-top: 13px;
  margin-bottom: 20px;
}

.side-menu a, .side-menu .logout-button {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}

.side-menu a:hover, .side-menu .logout-button:hover {
	color: #5C85D6;
}

.menu-btn {
	cursor: pointer;
	font-size: 30px;
	color: #818181;
	z-index: 2;
	position: relative;
}