/* Basic Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Arial, sans-serif;
}

.login-background {
	background-image: url('../img/tech.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container {
	background: rgba(255, 255, 255, 0.9);
	padding: 50px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 400px; /* Adjust the width as needed */
	position: relative;
}

.logo {
	display: block;
	margin: 0 auto 30px;
	height: 100px;
	width: auto;
}

.form-group {
	position: relative;
	/* Needed for absolute positioning of error messages */
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	margin-bottom: 8px;
}

.form-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.login-button, .signup-button {
	width: 100%;
	padding: 10px 20px;
	background-color: #0051ba;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.login-button:hover, .signup-button:hover {
	background-color: #0077cc;
}

.error-message {
	color: #d8000c;
	background-color: #ffd2d2;
	padding: 5px;
	border-radius: 5px;
	font-size: 0.9em;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: none; /* Default state */
	margin-top: 5px;
}

.header {
	background-color: #f4f4f4;
	padding: 10px 20px;
	text-align: center;
}

.logo-link {
	display: inline-block;
}

.header-logo {
	height: 80px;
	width: auto;
}

.main-container {
	width: 80%;
	max-width: 1080px;
	margin: 2rem auto;
	padding: 25px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: relative;
	max-width: 1080px;
}

.mandatory-and-back {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.mandatory-statement, .back-to-login a {
	font-style: italic;
	color: #555;
	text-decoration: none;
}

.back-to-login a {
	font-style: italic;
	color: #0051ba; /* Change color to resemble a hyperlink */
	text-decoration: underline; /* Underline to indicate it's clickable */
	cursor: pointer; /* Show pointer cursor on hover */
}

.back-to-login a:hover {
	color: #0077cc; /* Change color on hover for emphasis */
	text-decoration: none; /* Remove underline on hover */
}

.registration-container {
	margin-top: 10px;
}

.form-row {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.form-group {
	flex: 1;
	margin-right: 20px;
	margin-bottom: 60px;
}

.form-group:last-child {
	margin-right: 0;
}

button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #0051ba;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
}

button[type="submit"]:hover {
	background-color: #0077cc;
}

@media ( max-width : 1500px) {
	.form-group {
		margin-bottom: 60px;
		/* Increase space for error messages on smaller screens */
	}

	/* Adjust form layout for smaller screens */
	.form-row {
		flex-direction: column;
	}
	.form-group {
		margin-right: 0;
		/* Remove margin between inline elements */
		width: 100%;
		/* Set form input to full width */
	}
}