<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Credit Card Transaction History</title>
<link rel="stylesheet" href="../css/header-sidebar.css">
<link rel="stylesheet" href="../css/card-transactions.css">



</head>
<body>
	<!-- Top Bar -->
	<div class="top-bar">
    <span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
    <img src="../img/CreditOCubeLogo.png" alt="Logo" class="center-logo">
    
	
	
  </div>

  <div class="side-menu menu-active" id="sideMenu">
		<div class="user-greeting">
			<P>Filter and view my transaction history</P>
		</div>

		<a href="customer-dashboard">Back to Main Dashboard</a> <a
			href="account-dashboard">View Debit Account Dashboard</a>
			<a
			href="creditcard-dashboard">View Credit Card Dashboard</a>

		<form th:action="@{/logout}" method="post">
			<div class="buttons">
				<button type="submit" class="login-button">Logout</button>
			</div>
		</form>

		<!-- Add other menu items here -->
	</div>



	<div class="content-area main-content">
	
	 <div class="form-group">


  	<h1>Credit Card Transactions</h1>
  	<h2>Filter By Date:</h2>

	<form th:action="@{/find-by-date}" method="POST">Start Date:
	
	<input type="hidden" th:value="${cardId}" name="cardId">
	
	<input type="date" name="dateFrom" placeholder="Date From">End Date:
	<input type="date" name="dateTo" placeholder="Date From">
	<button type="submit">Filter</button>
	</form> 
	
	


  </div>
	<div>
		<table>
			<thead>
				<tr>
					<th>Transaction Date</th>
					<th>Amount</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
					<tr th:each="transaction : ${transactions}">
					<td th:text="${transaction.getFormattedTransactionDate()}"></td>
					<td>
						<span th:if="${transaction.merchant != null && transaction.merchant.merchantCode == '1'}">+</span>
						<span th:unless="${transaction.merchant != null && transaction.merchant.merchantCode == '1'}">–</span>
						<span th:text="${transaction.transactionAmount}" class="price-element"></span>
					</td>
					
					
					<td th:text="${transaction.description}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	
	<!-- JavaScript for Sidebar Toggle -->
	<script src="../js/sidebar.js"></script>
	<script src="../js/sort-tables.js"></script>
</body>
</html>
