<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Debit Account</title>
</head>
<body>
    <div>
        <form th:action="@{/createDebitAccount}" method="POST">
            <label for="account-name">Account Name</label>
            <input type="text" id="account-name" name="account-name"><br>
            <label for="account-balance">How much money do you wish to deposit into this new account?</label>
            <input type="number" step="0.01" id="account-balance" name="account-balance">
 
            <input type="submit" value="Create New Account">
        </form>
    </div>
</body>
</html>