<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/header-sidebar.css">
<link rel="stylesheet" href="../css/account-dashboard.css">

<!-- JavaScript for Sidebar Toggle -->
<script src="../js/sidebar.js" defer></script>
<script src="../js/sort-tables.js" defer></script>
</head>
<body>
	<div class="top-bar">
		<span class="menu-btn" onclick="toggleMenu()">&#9776;</span> <img
			src="../img/CreditOCubeLogo.png" alt="Logo" class="center-logo">
		<!-- 		<button class="logout-button" onclick="window.location.href='login'">Logout</button> -->

	</div>

	<div class="side-menu menu-active" id="sideMenu">
		<div class="user-greeting">
			<p>DEBIT ACCOUNTS</p>
			<p>Start your debit account journey here</p>
		</div>
		<a href="customer-dashboard">Back to Main Dashboard</a><a
			href="creditcard-dashboard">View Credit Card Dashboard</a>
		<form th:action="@{/logout}" method="post">
			<div class="buttons">
				<button type="submit" class="login-button">Logout</button>
			</div>
		</form>
	</div>
	<div class="content-area main-content">
		<div class="actions-container">
			<!-- Create Debit Account Button -->
			<form th:action="@{/go-to-create-debit-account}" method="get">
				<input type="submit" class="debit-action-buttons"
					value="Create Debit Account">
			</form>
			<form th:action="@{/account-dashboard}" method="get">
				<input type="submit" class="debit-action-buttons"
					value="View all Debit Accounts">
			</form>
			<form th:action="@{/view-transaction-history}" method="get">
				<input type="submit" class="debit-action-buttons"
					value="View transaction history">
			</form>
			<form th:action="@{/deposit-withdraw}" method="get">
				<input type="submit" class="debit-action-buttons"
					value="Deposit / Withdraw">
			</form>
			<form th:action="@{/transfer-to-account-number}" method="get">
				<input type="submit" class="debit-action-buttons"
					value="Transfer Money">
			</form>
		</div>
		<div class="debit-form-wrapper">
			<form th:action="@{/create-debit-account}" method="POST">
				<label for="account-name">Account Name</label> <input type="text"
					id="account-name" name="account-name"><br> <label
					for="account-balance">How much money do you wish to deposit
					into this new account?</label> <input type="number" id="account-balance"
					name="account-balance"> <input type="submit"
					class="debit-action-buttons" value="Create New Account">
			</form>
		</div>

	</div>

</body>
</html>