<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>Dashboard Wireframe</title>
<link
	rel="stylesheet"
	href="../css/header-sidebar.css">
<link
	rel="stylesheet"
	href="../css/creditcard-dashboard.css">
<script
	src="../js/sidebar.js"
	defer></script>
</head>

<body>


	<div class="top-bar">
		<span
			class="menu-btn"
			onclick="toggleMenu()">&#9776;</span>
		<a
			href="customer-dashboard"
			class="logo-link"> <img
			src="../img/CreditOCubeLogo.png"
			alt="Logo"
			class="center-logo">
		</a>
	</div>





	<div
		class="side-menu menu-active"
		id="sideMenu">
		<div class="user-greeting">
			<P>My Credit Cards</P>
		</div>

		<a href="customer-dashboard">Back to Main Dashboard</a> <a
			href="account-dashboard">View Account Dashboard</a> <a
			href="creditcard-dashboard">View Credit Card Dashboard</a>

		<form
			th:action="@{/logout}"
			method="post">
			<div class="buttons">
				<button
					type="submit"
					class="login-button">Logout</button>
			</div>
		</form>

		<!-- Add other menu items here -->
	</div>

	<div class="content-area main-content">

		<div class="actions-container">
			<!-- Create Debit Account Button -->
			<form
				th:action="@{/apply-creditcard}"
				method="get">
				<input
					type="submit"
					class="credit-action-buttons"
					value="Apply for a Credit Card">
			</form>

			<!-- 			<form th:action="@{/creditcard-dashboard}" method="get"> -->
			<!-- 				<input type="submit" class="credit-action-buttons" -->
			<!-- 					value="View all Credit Cards"> -->
			<!-- 			</form> -->

			<!-- Update Credit Limit button -->
			<!--  <form th:action="@{/update-credit-limit}" method="get">
			<input type="hidden" th:value="${card.cardId}" name="cardId">
			<input type="submit" class="credit-action-buttons" value="Update Credit Limit">
			</form> -->

			<form
				th:action="@{/create-card-transaction}"
				method="get">
				<input
					type="submit"
					class="credit-action-buttons"
					value="Create Card Transaction">
			</form>
			<!-- 			<form th:action="@{/show-inactive-cards}" method="get"> -->
			<!-- 				<input type="submit" class="credit-action-buttons" -->
			<!-- 					value="View Deactivated Cards"> -->
			<!-- 			</form> -->

		</div>
		<span
			th:if="${insufficientBalance}"
			th:text="${insufficientBalance}"
			class="error-message"
			th:style="${insufficientBalance} ? 'display: block;' : 'display: none;'"></span>
		<span
			th:if="${invalidPaymentAmount}"
			th:text="${invalidPaymentAmount}"
			class="error-message"
			th:style="${invalidPaymentAmount} ? 'display: block;' : 'display: none;'"></span>
		<span
			th:if="${invalidDebitAccount}"
			th:text="${invalidDebitAccount}"
			class="error-message"
			th:style="${invalidDebitAccount} ? 'display: block;' : 'display: none;'"></span>
		<span
			th:if="${cardStillHasBalance}"
			th:text="${cardStillHasBalance}"
			class="error-message"
			th:style="${cardStillHasBalance} ? 'display: block;' : 'display: none;'"></span>
		<span
			th:if="${customerHasNoCards}"
			th:text="${customerHasNoCards}"
			class="error-message"
			th:style="${customerHasNoCards} ? 'display: block;' : 'display: none;'"></span>
		<div
			th:if="${success}"
			style="color: green;">
			<p th:text="${success}"></p>
		</div>



		<div>
			<table id="myTable">
				<thead>
					<tr>


						<th>Credit Card Number</th>

						<th>
							Card Balance
						</th>
						<th>Available Credit</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="card : ${credit_cards}">

						<!-- <td th:text="${card.getFormattedCreditCardNumber()} + ' -- ' + ${card.cardType.name}"></td> -->



						<td>
							<p th:text="${card.getFormattedCreditCardNumber()}"></p>
							<p th:text="${card.cardType.name}"></p>
							<img
								th:src="@{'/img/' + ${card.cardType.imageUrl}}"
								alt="Card Image"
								style="width: 200px; height: auto;" />

						</td>

						<td
							th:text="${card.balance}"
							class="price-element"></td>
						<td 
							th:text="${card.cardLimit - card.balance}" 
							class="price-element"></td>


						<!-- from here -->
						<td>
							<button
								class="credit-action-buttons action-btn"
								th:data-card-id="${card.cardId}">Click to Expand</button>
							<div
								class="actions-dropdown"
								th:id="${card.cardId}"
								style="display: none;">
								<!-- Repeat the following structure for each action -->
								<!-- View Transaction History button -->
								<form
									th:action="@{/card-transactions}"
									method="POST"
									class="form-button">
									<input
										type="hidden"
										th:value="${card.cardId}"
										name="cardId">
									<button
										type="submit"
										class="credit-action-buttons">View Transaction
										History</button>
								</form>
								<!-- View Card Bill button -->
								<form
									th:action="@{/view-card-bill}"
									method="POST"
									class="form-button">
									<input
										type="hidden"
										th:value="${card.cardId}"
										name="cardId">
									<button
										type="submit"
										class="credit-action-buttons">View Card Bill</button>
								</form>
								<!-- Pay Card Bill/Balance button -->
								<form
									th:action="@{/open-card-payment}"
									method="POST"
									class="form-button">
									<input
										type="hidden"
										th:value="${card.cardId}"
										name="cardId">
									<button
										type="submit"
										class="credit-action-buttons">Pay Card Bill/Balance</button>
								</form>
								<!-- Update Credit Limit button -->
								<form
									th:action="@{/update-credit-limit}"
									method="get"
									class="form-button">
									<input
										type="hidden"
										th:value="${card.cardId}"
										name="cardId">
									<button
										type="submit"
										class="credit-action-buttons">Update Credit Limit</button>
								</form>
								<!-- Close Credit Card button -->
								<form
									th:action="@{/close-credit-card}"
									method="POST"
									class="form-button">
									<input
										type="hidden"
										th:value="${card.cardId}"
										name="cardId">
									<button
										type="submit"
										class="credit-action-buttons">Close Credit Card</button>
								</form>
								<!-- Generate Bill button -->
								         <form th:action="@{/generate-bill}" method="POST" class="form-button">
								         <input type="hidden" th:value="${card.cardId}" name="cardId">
								         <button type="submit" class="non-credit-action-buttons">Generate Bill</button>
								         </form>
								<!--               Simulate Late Payment button -->
								<!--                <form th:action="@{/simulate-late-payment}" method="POST" class="form-button"> -->
								<!--               	<input type="hidden" th:value="${card.cardId}" name="cardId"> -->
								<!--                 <button type="submit" class="non-credit-action-buttons">Simulate Late Payment</button> -->
								<!--               </form> -->
							</div>
						</td>






					</tr>
				</tbody>
			</table>
		</div>
	</div>



	<script src="../js/sidebar.js">
		
	</script>

	<script
		src="../js/sort-tables.js"
		defer></script>

	<script
		src="../js/creditcard-dashboard.js"
		defer></script>

</body>

</html>