<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Wireframe</title>
  <link rel="stylesheet" href="../css/header-sidebar.css">
  <link rel="stylesheet" href="../css/account-dashboard.css">
</head>

<body>

  <div class="top-bar">
    <span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
    <img src="../img/CreditOCubeLogo.png" alt="Logo" class="center-logo">
    <button class="logout-button" onclick="window.location.href='login'">Logout</button>
	
  </div>

  <div class="side-menu" id="sideMenu">
  	<div class="user-greeting">
		Welcome, <span th:text="${firstName}">FirstName</span>
		What would you like to do today?
	</div>
    <a href="apply-creditcard">Apply credit card</a>
    <a href="#">Set credit limit</a>
    <a href="#">Transaction history</a>
    <a href="#">Pay bills</a>
    <a href="account-dashboard">Account dashboard</a>
    <a href="customer-dashboard">Main dashboard</a>
    <!-- Add other menu items here -->
  </div>

  <script src="../js/sidebar.js"></script>

</body>

</html>