<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Wireframe</title>
  <link rel="stylesheet" href="../css/header-sidebar.css">
  <link rel="stylesheet" href="../css/creditcard-dashboard.css">
</head>

<body>

  <div class="top-bar">
    <span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
    <img src="../img/CreditOCubeLogo.png" alt="Logo" class="center-logo">
    
	
	
  </div>

  <div class="side-menu menu-active" id="sideMenu">
  	<div class="user-greeting">
		<P>My Credit Cards</P>
	</div>
    <a href="apply-creditcard">Apply for a credit card</a>

    <a href="create-card-transaction">Create Card Transaction</a>

    <a href="pay-creditcard-balance">Pay bills</a>
    <a href="account-dashboard">Account dashboard</a>
    <a href="creditcard-dashboard">Credit card dashboard</a> 
    <a href="customer-dashboard">Main dashboard</a>
    <a href="#">Set credit limit (FOR ADMIN)</a>
    <a href="create-card-type">Create Card Type (FOR ADMIN)</a>
    <a href="create-reward">Create Reward for Card Type (FOR ADMIN)</a>
    <form th:action="@{/logout}" method="post">
		<div class="buttons">
			<button type="submit" class="login-button">Logout</button>
		</div>
	</form>
    <!-- Add other menu items here -->
  </div>
  
  <div class="content-area main-content">
    <div>
      <table>
        <thead>
          <tr>
            
            <th>Credit Card Number</th>
            <th>Card Balance</th>
            <th>Credit Limit</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="card : ${credit_cards}">
            
            <td th:text="${card.getFormattedCreditCardNumber()}"></td>
            <td th:text="${card.balance}" class="price-element"></td>
            <td th:text="${card.cardLimit}" class="price-element"></td>
            <td>
              <form th:action="@{/card-transactions}" method="POST">
              	<input type="hidden" th:value="${card.cardId}" name="cardId">
                <button type="submit" class="credit-action-buttons">View Transaction History</button>
              </form>
              <form th:action="@{/view-card-bill}" method="POST">
              	<input type="hidden" th:value="${card.cardId}" name="cardId">
                <button type="submit" class="credit-action-buttons">View Card Bill</button>
              </form>
               <form th:action="@{/open-card-payment}" method="POST">
              	<input type="hidden" th:value="${card.cardId}" name="cardId">
                <button type="submit" class="credit-action-buttons">Pay Card Bill/Balance</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="../js/sidebar.js"></script>

</body>

</html>