<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Customer Dashboard</title>
<link rel="stylesheet" href="../css/header-sidebar.css">
<link rel="stylesheet" href="../css/customer-dashboard.css">
<script src="../js/sidebar.js" defer></script>
</head>

<body>

	<div class="top-bar">
		<span class="menu-btn" onclick="toggleMenu()">&#9776;</span> <img
			src="../img/CreditOCubeLogo.png" alt="Logo" class="center-logo">
		<!-- 		<button class="logout-button" onclick="window.location.href='login'">Logout</button> -->

	</div>

	<div class="side-menu menu-active" id="sideMenu">
		<div class="user-greeting">
			<p>
				Hello, <span th:text="${firstName}">FirstName</span>
			</p>
			<p>What would you like to do today?</p>
		</div>
		<a href="account-dashboard">View Account Dashboard</a> <a
			href="creditcard-dashboard">View Credit Card Dashboard</a> <a
			href="/customer-details">Update Particulars</a>
			<a href="/update-password">Change Password</a> <a
			href="deleteCustomerAccount" class="logout-button">Delete Account</a>
		<!-- 			<a href="login" class="logout-button">Logout</a> -->
		<form th:action="@{/logout}" method="post">
			<div class="buttons">
				<button type="submit" class="login-button">Logout</button>
			</div>
		</form>
	</div>

	<!-- Main content area -->
	<div class="main-content">
		<div class="sub-container">
			<h2>
				Welcome to Your Dashboard, <span th:text="${firstName}">FirstName</span>
			</h2>
			<p>Here you can find a quick overview of your debit accounts and
				the credit cards you own, and view recent debit account and credit
				card transactions.</p>
		</div>

		<div class="sub-container">
			<h2>Debit Accounts Overview</h2>
			<p>Check the status of your account, view your current balance,
				and more.</p>
			<table>
				<thead>
					<tr>
						<th>Account Number</th>
						<th>Balance</th>
					</tr>
				</thead>
				<tr th:each="account : ${accounts}">
					<td th:text="${account.getMaskedAccountNumber()}"></td>
					<td th:text="${account.accountBalance}" class="price-element"></td>
				</tr>
			</table>
		</div>

		<div class="sub-container">
			<h2>Credit Cards Overview</h2>
			<p>Check out your credit cards and its details.</p>
			<table>
				<thead>
					<tr>
						<th>Card Number</th>
						<th>Balance</th>
					</tr>
				</thead>
				<tr th:each="card : ${cards}">
					<td th:text="${card.getMaskedCreditCardNumber()}"></td>
					<td th:text="${card.balance}" class="price-element"></td>
				</tr>
			</table>
		</div>

		<div class="sub-container">
			<h2>Recent Debit Account Transactions</h2>
			<p>A list of recent transactions for your debit accounts.</p>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>From Account</th>
						<th>To Account Number / Card Number</th>
						<th>Type</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tr th:each="transaction : ${recentTransactions}">
					<td
						th:text="${#dates.format(transaction.debitAccountTransactionDate, 'dd-MMM-yyyy HH:mm')}"></td>
					<td th:text="${transaction.fromAccount?.accountName ?: '---'}"></td>
					<!-- <td
						th:text="| ${transaction.toAccountNumber != null ? '***-***-' + transaction.toAccountNumber.substring(6) : '---'} |"></td> -->
					<td th:text="${transaction.getMaskedToAccountNumber()}"></td>
					<td th:text="${transaction.debitAccountTransactionType ?: '---'}"></td>
					<td th:text="${transaction.debitAccountTransactionAmount}"
						class="price-element"></td>
				</tr>
			</table>
		</div>

		<div class="sub-container">
			<h2>Recent Credit Card Transactions</h2>
			<p>A list of recent transactions from your credit cards.</p>
			<!-- 			<a href="/customer-details">Personal Details</a> <a -->
			<!-- 				href="creditcard-dashboard">Credit Cards</a> <a -->
			<!-- 				href="security-settings">Security Settings</a> -->

			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Card Number</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tr th:each="transaction : ${creditTransactions}">
					<td th:text="${transaction.getFormattedTransactionDate()}"></td>
					<!-- <td th:text="${transaction.transactionCard.getFormattedCreditCardNumber()}"></td> -->
					<td
						th:text="${transaction.transactionCard.getMaskedCreditCardNumber()}"></td>
					<td th:text="${transaction.transactionAmount}"
						class="price-element"></td>
				</tr>
			</table>

		</div>


	</div>

</body>

</html>
