<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Customer Details</title>
<link rel="stylesheet" href="../css/header-sidebar.css">
<link rel="stylesheet" href="../css/customer-details.css">
<script src="../js/sidebar.js" defer></script>
<script src="../js/customer-details.js" defer></script>
</head>
<body>
	<!-- show user details -->

	<div class="top-bar">
		<span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
		<div class="logo-container">
			<img src="../img/CreditOCubeLogo.png" alt="CreditOCube Logo"
				class="center-logo">
		</div>
	</div>

	<div class="side-menu menu-active" id="sideMenu">
		<div class="user-greeting">
			Welcome, <span th:text="${firstName}">FirstName</span>
		</div>
		<a href="/customer-dashboard">Back to Home</a> 
<!-- 		<a href="login" -->
<!-- 			class="logout-button">Logout</a> -->
		<form th:action="@{/logout}" method="post">
				<div class="buttons">
					<button type="submit" class="login-button">Logout</button>
				</div>
			</form>
	</div>

	<div class="main-container">
		<div class="registration-container">
			<form id="registration-form" th:action="@{/customer-details}"
				method="post">
				<div class="form-row">
					<div class="form-group">
						<label for="firstName">First Name</label> <input type="text"
							id="firstName" name="firstName" th:value="${firstName}" readonly
							required>
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label> <input type="text"
							id="lastName" name="lastName" th:value="${lastName}" readonly
							required>
					</div>
					<div class="form-group">
						<label for="username">Username</label> <input type="text"
							id="username" name="username" th:value="${username}" readonly>
					</div>
					<div class="form-group">
						<label for="nric">NRIC</label> <input type="text" id="nric"
							name="nric" th:value="${nric}" readonly>
					</div>
					<div class="form-group">
						<label for="dob">Date of Birth</label> <input type="date" id="dob"
							name="dob" th:value="${dob}" readonly required>
					</div>
					<div class="form-group">
						<label for="address">Address</label> <input type="text"
							id="address" name="address" th:value="${address}">
					</div>
					<div class="form-group">
						<label for="salary">Salary (per month)</label> <input type="text"
							id="salary" name="salary" th:value="${salary}" required>
					</div>
					<div class="form-group gender-group">
						<label>Gender</label>
						<div class="gender-options">
							<div class="gender-option">
								<input class="gender" type="radio" id="male" name="gender"
									value="male" th:checked="${gender == 'male'}" required>
								<label for="male">Male</label>
							</div>
							<div class="gender-option">
								<input class="gender" type="radio" id="female" name="gender"
									value="female" th:checked="${gender == 'female'}"> <label
									for="female">Female</label>
							</div>
							<div class="gender-option">
								<input class="gender" type="radio" id="other" name="gender"
									value="other" th:checked="${gender == 'other'}"> <label
									for="other">Other</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="phoneNumber">Mobile Number</label> <input type="tel"
							id="phoneNumber" name="phoneNumber" th:value="${phoneNumber}"
							required> <span th:if="${phoneNumberError}"
							th:text="${phoneNumberError}" class="error-message"
							th:style="${phoneNumberError} ? 'display: block;' : 'display: none;'"></span>
					</div>
					<div class="form-group">
						<label for="email">Email Address</label> <input type="email"
							id="email" name="email" th:value="${email}" required>
					</div>
					<div class="form-group">
						<label for="password">Password</label> <input type="password"
							id="password" name="password" required> <span
							th:if="${passwordError}" th:text="${passwordError}"
							class="error-message"
							th:style="${passwordError} ? 'display: block;' : 'display: none;'"></span>
					</div>
					<div class="form-group">
						<label for="confirm-password">Confirm Password</label> <input
							type="password" id="confirm-password" name="confirm-password"
							required> <span th:if="${confirmPasswordError}"
							th:text="${confirmPasswordError}" class="error-message"
							th:style="${confirmPasswordError} ? 'display: block;' : 'display: none;'"></span>
					</div>
				</div>
				<button id="update-button" type="submit">Update</button>
			</form>
		</div>
	</div>

</body>

</html>