<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer Details</title>
</head>
<body>
<!-- show user details -->
    <h1>User Details</h1>
    <ul>
        <li><strong>Username:</strong> <span th:text="${username}"></span></li>
        <li><strong>First Name:</strong> <span th:text="${firstName}"></span></li>
        <li><strong>Last Name:</strong> <span th:text="${lastName}"></span></li>
        <li><strong>Email:</strong> <span th:text="${email}"></span></li>
        <li><strong>Phone Number:</strong> <span th:text="${phoneNumber}"></span></li>
        <li><strong>NRIC:</strong> <span th:text="${nric}"></span></li>
        <li><strong>Address:</strong> <span th:text="${address}"></span></li>
        <li><strong>Salary:</strong> <span th:text="${salary}"></span></li>
        <li><strong>Gender:</strong> <span th:text="${gender}"></span></li>
        <li><strong>Birthday:</strong> <span th:text="${dob}"></span></li>
    </ul>


  <div class="main-container">
    <div class="mandatory-and-back">
      <div class="mandatory-statement">All fields are mandatory.</div>
    </div>
    
    <!-- updating user details -->
    <div class="registration-container">
      <form id="registration-form" th:action="@{/customer-details}" method="post">
        
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob" required>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Mobile Number</label>
            <input type="tel" id="mobile" name="phoneNumber" required>
          </div>
          <div class="form-group">
            <label for="nric">NRIC</label>
            <input type="text" id="nric" name="nric" required>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="address" required>
          </div>
          <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" id="salary" name="salary" required>
          </div>
          <div class="form-group">
            <label for="username">New Username</label>
            <input type="text" id="username" name="username" required>
          </div>

        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Gender</label><br>
            <input class="gender" type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label>
            <input class="gender" type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            <input class="gender" type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
          </div>
        </div>
        <button id="update-button" onclick="displayPopup()" type="submit">Update</button>
      </form>
      
      <div class="back-to-login">
        <a href="/home">Back to Home</a>
      </div>
    </div>

  </div>
  <script src="../js/customer-details.js"></script>
</body>

</html>