<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer Details</title>
</head>
<body>
<!-- show user details -->
    


  <div class="main-container">
    <div class="mandatory-and-back">
      <div class="mandatory-statement">All fields are mandatory.</div>
    </div>
    
    <!-- updating user details -->
    <div class="registration-container">
      <form id="registration-form" th:action="@{/customer-details}" method="post">
        
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" th:value="${firstName}" readonly required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" th:value="${lastName}" readonly required>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob" th:value="${dob}" readonly required>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Mobile Number</label>
            <input type="tel" id="mobile" name="phoneNumber" th:value="${phoneNumber}" required>
          </div>
          <div class="form-group">
            <label for="nric">NRIC</label>
            <input type="text" id="nric" name="nric" th:value="${nric}" readonly>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="address" th:value="${address}" required>
          </div>
          <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" id="salary" name="salary" th:value="${salary}" required>
          </div>
          <div class="form-group">
            <label for="username">New Username</label>
            <input type="text" id="username" name="username" th:value="${username}" readonly>
          </div>

        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Gender</label><br>
            <input class="gender" type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label>
            <input class="gender" type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            <input class="gender" type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" th:value="${email}" required>
          </div>
        </div>
        <button id="update-button" onclick="displayPopup()" type="submit">Update</button>
      </form>
      
      <div class="back-to-login">
        <a href="customer-dashboard">Back to Home</a>
      </div>
    </div>

  </div>
  <script src="../js/customer-details.js"></script>
</body>

</html>