<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Deposit / Withdraw</title>
	<link rel="stylesheet" href="../css/header-sidebar.css">
</head>
<body>

<div>
	<form th:action="deposit-into-account" method="POST">
		<h2>Deposit into Account</h2>
		<input type="hidden" th:value="${account.accountNumber}" name="accountNumber">
		<button type="submit">Deposit/Withdraw</button>
	</form>

</div>


<div class="side-menu" id="sideMenu">
	<a href="#">Transaction history</a> 
	<a href="#">Transfer money</a> 
	<a href="deposit-withdraw">Deposit / Withdraw</a> 
	<a href="creditcard-dashboard">Credit card dashboard</a> 
	<a href="account-dashboard">Account dashboard</a>
	<a href="customer-dashboard">Main dashboard</a>
		<!-- Add other menu items here -->
</div>

<script src="../js/sidebar.js"></script>
</body>
</html>