<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Rewards</title>
    <!-- Include your CSS files here -->
</head>
<body>
    <h2>List of Rewards</h2>
    <div>
        <ul>
            <li th:each="reward : ${rewards}">
                <span th:text="${reward.category}">Category</span>:
                <span th:text="${reward.cashback_rate}">Cashback Rate</span>%
                <span th:text="'Card Type: ' + ${reward.cardType.name}">Card Type</span>
                
            </li>
        </ul>
    </div>
    
    <!-- Back to Credit Card Dashboard Button -->
    <div>
        <a href="@{/creditcard-dashboard}" th:href="@{/creditcard-dashboard}"><button type="button">Back to Credit Card Dashboard</button></a>
    </div>
    
</body>
</html>
