<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay Credit Card Balance</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("paymentOption").addEventListener("change", function() {
                var paymentOption = this.value;
                var amountInput = document.getElementById("amountInput");
                if(paymentOption === "Pay Custom Amount") {
                    amountInput.style.display = "";
                } else {
                    amountInput.style.display = "none";
                }
            });
        });
    </script>
</head>
<body>
    <h2>Pay Credit Card Balance</h2>
    <form th:action="@{/pay-creditcard-balance}" method="post" onkeydown="if(event.keyCode === 13){
    	alert('Please use the button to submit the amount');
    	return false;
    }">
        <div>
            <label for="debitAccountNumber">Debit Account Number:</label>
            <select id="debitAccountNumber" name="debitAccountNumber" required>
                <option th:each="account : ${accounts}" th:value="${account.accountNumber}" th:text="${account.accountNumber}">Debit Account Number</option>
            </select>
        </div>
        <div>
            <label for="creditCardNumber">Credit Card Number:</label>

            <input th:value="${card.cardNumber}" readonly name="creditCardNumber">

        </div>
       
        <div>
        	<label for="minimumAmount">Minimum Amount Due:</label>
        	<input type="number" name="minimumAmount" th:value="${bill.minimumAmountDue}" readonly>
            <button type="submit" name="paymentOption" value="minimum">Pay Minimum Amount</button>
        </div>
        <div>
        	<label for="outstandingAmount">Outstanding Amount Due:</label>
        	<input type="number" name="outstandingAmount" th:value="${bill.outstandingAmount}" readonly>
            <button type="submit" name="paymentOption" value="outstanding">Pay Outstanding Amount</button>
        </div>
         <div>
        	<label for="currentBalance">Current Card Balance:</label>
        	<input type="number" name="currentBalance" th:value="${card.balance}" readonly>
            <button type="submit" name="paymentOption" value="balance">Pay Full Card Balance</button>
        </div>
        <!--  only display this if the minimum amount is 0  -->
		<div th:if="${bill.minimumAmountDue == 0}">
		    <label for="paymentAmount">Custom Amount: </label>        	
		    <input type="number" name="paymentAmount">
		    <button type="submit" name="paymentOption" value="paymentAmount">Pay Amount</button>
		</div>
    </form>
</body>
</html>
