<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Page</title>
<link rel="stylesheet" href="../css/register.css">
</head>
<body>

	<!-- 	new -->
	<div class="register-background"></div>
	<!-- 	new -->

	<div class="header">
		<a href="/" class="logo-link"> <img
			src="../img/CreditOCubeLogo.png" alt="Credit-O-Cube Logo"
			class="header-logo">
		</a>
	</div>
	<div class="main-container">
		<div class="mandatory-and-back">
			<div class="back-to-login">
				<a href="login">&#8592; Back to Login</a>
			</div>
			<div class="mandatory-statement">All fields are mandatory.</div>
		</div>
		<div class="registration-container">
			<form id="registration-form" th:action="@{/register}" method="post">
				<div class="form-row">
					<div class="form-group">
						<label for="firstName">First Name</label> <input type="text"
							id="firstName" name="firstName" required
							th:value="${firstNameError} ? '' : ${firstName}"> <span
							th:if="${firstNameError}" th:text="${firstNameError}"
							class="error-message"
							th:style="${firstNameError} ? 'display: block;' : 'display: none;'"></span>
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label> <input type="text"
							id="lastName" name="lastName" required
							th:value="${lastNameError} ? '' : ${lastName}"> <span
							th:if="${lastNameError}" th:text="${lastNameError}"
							class="error-message"
							th:style="${lastNameError} ? 'display: block;' : 'display: none;'"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="username">Username</label> <input type="text"
							id="username" name="username" required
							th:value="${usernameError} ? '' : ${username}">
						<div class="alert-content">At least 6 characters, with
							alphanumerics, underscores and dashes only</div>
						<span th:if="${usernameError}" th:text="${usernameError}"
							class="error-message"
							th:style="${usernameError} ? 'display: block;' : 'display: none;'"></span>
					</div>
					<div class="form-group">
						<label for="nric">NRIC</label> <input type="text" id="nric"
							name="nric" required th:value="${nricError} ? '' : ${nric}">
						<span th:if="${nricError}" th:text="${nricError}"
							class="error-message"
							th:style="${nricError} ? 'display: block;' : 'display: none;'"></span>
					</div>
					<div class="form-group">
						<label for="dob">Date of Birth</label> <input type="date" id="dob"
							name="dob" required
							th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
							th:value="${dobError} ? '' : ${dob}"> <span
							th:if="${dobError}" th:text="${dobError}" class="error-message"
							th:style="${dobError} ? 'display: block;' : 'display: none;'"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="password">Password</label> <input type="password"
							id="password" name="password" required>
						<div class="alert-content">At least 8 characters, 1
							uppercase, 1 lowercase, 1 digit and 1 special character</div>
						<span th:if="${passwordError}" th:text="${passwordError}"
							class="error-message"
							th:style="${passwordError} ? 'display: block;' : 'display: none;'"></span>
					</div>
					<div class="form-group">
						<label for="confirm-password">Confirm Password</label> <input
							type="password" id="confirm-password" name="confirm-password"
							required> <span th:if="${confirmPasswordError}"
							th:text="${confirmPasswordError}" class="error-message"
							th:style="${confirmPasswordError} ? 'display: block;' : 'display: none;'"></span>
					</div>
				</div>
				<button type="submit">Register</button>
			</form>
		</div>
	</div>
</body>
</html>