<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
	integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
	crossorigin="anonymous">
</head>

<body>
		<div class="container w-50">
			<form class="row g-3">
				<div class="col-md-6">
					<label for="username" class="form-label">Username</label> <input
						type="email" class="form-control" id="username" name="username" placeholder="Username">
				</div>
				<div class="col-md-6">
					<label for="password" class="form-label">Password</label> <input
						type="password" class="form-control" id="password" name="password" placeholder="Password">
				</div>
				<div class="col-md-6">
					<label for="username" class="form-label">First Name</label> <input
						type="text" class="form-control" id="first-name" name="first-name" required placeholder="First Name">
				</div>
				<div class="col-md-6">
					<label for="password" class="form-label">Last Name</label> <input
						type="text" class="form-control" id="last-name" name="last-name" required placeholder="Last Name">
				</div>
				<div class="col-12">
					<label for="address" class="form-label">Address</label> <input
						type="text" class="form-control" id="address" name="address"
						placeholder="1234 Main St">
				</div>
				<div class="col-md-4">
					<label for="dob" class="form-label">Date of Birth</label>
					<input type="date" id="dob" name="dob" required>
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Create Account</button>
				</div>
			</form>
		</div>

	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
		integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
		crossorigin="anonymous"></script>
</body>

</html>