<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Deposit / Withdraw</title>
<link rel="stylesheet" href="../css/header-sidebar.css">
</head>
<body>

	<div>

		<div>
			<p>Please choose an account from the dropdown menu below.</p>
		</div>
		<form th:action="@{/transfer-to-account-number}" method="POST">
			<select name="selectedAccountId">
				<option th:each="account : ${session.accounts}"
					th:value="${account.accountId}" th:text="${account.accountName}">
				</option>
			</select> <label for="amount">Amount</label> <input type="number" step="0.01"
				name="amount"> <label for="toAccountNumber">Transfer
				to Account Number</label> <input type="text" id="account-number"
				name="toAccountNumber"><br>
			<button type="submit">Submit</button>

		</form>

		<a href="account-dashboard">Account dashboard</a>
	</div>


	<div class="side-menu" id="sideMenu">
		<a href="view-transaction-history">Transaction history</a> <a
			href="transfer-to-account-number">Transfer money</a> <a
			href="deposit-withdraw">Deposit / Withdraw</a> <a
			href="creditcard-dashboard">Credit card dashboard</a> <a
			href="account-dashboard">Account dashboard</a> <a
			href="customer-dashboard">Main dashboard</a>
		<!-- Add other menu items here -->
	</div>

	<script src="../js/sidebar.js"></script>
</body>
</html>