<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>Transfer money</title>
<link
	rel="stylesheet"
	href="../css/header-sidebar.css">
<link
	rel="stylesheet"
	href="../css/account-dashboard.css">
<script
	src="../js/sidebar.js"
	defer></script>
</head>
<body>
	<!-- 	Top Bar -->
	<!-- 	keep this for now -->
	<div class="top-bar">
		<span
			class="menu-btn"
			onclick="toggleMenu()">&#9776;</span>
		<a
			href="customer-dashboard"
			class="logo-link"> <img
			src="../img/CreditOCubeLogo.png"
			alt="Logo"
			class="center-logo">
		</a>
	</div>

	<div
		class="side-menu menu-active"
		id="sideMenu">
		<div class="user-greeting">
			<p>Transfer money to other accounts</p>

		</div>
		<a href="customer-dashboard">Back to Main Dashboard</a> <a
			href="account-dashboard">View Debit Account Dashboard</a> <a
			href="creditcard-dashboard">View Credit Card Dashboard</a>
		<form
			th:action="@{/logout}"
			method="post">
			<div class="buttons">
				<button
					type="submit"
					class="login-button">Logout</button>
			</div>
		</form>
	</div>
	<!-- 	keep this for now -->


	<div class="content-area main-content">
		<div class="actions-container">
			<!-- Create Debit Account Button -->
			<form
				th:action="@{/go-to-create-debit-account}"
				method="get">
				<input
					type="submit"
					class="debit-action-buttons"
					value="Create Debit Account">
			</form>



			<form
				th:action="@{/deposit-withdraw}"
				method="get">
				<input
					type="submit"
					class="debit-action-buttons"
					value="Deposit / Withdraw">
			</form>
			<form
				th:action="@{/transfer-to-account-number}"
				method="get">
				<input
					type="submit"
					class="toggle-debit-action-buttons"
					value="Transfer Money">
			</form>
			
			
		</div>
		<p
				th:if="${toAndFromAccountNumbersSame}"
				th:text="${toAndFromAccountNumbersSame}"
				class="error-message"
				th:style="${toAndFromAccountNumbersSame} ? 'display: block;' : 'display: none;'"></p>

		<div class="transfer-form-section">
			<div>
				<p>Transfer from:</p>
			</div>
			<form
				th:action="@{/transfer-to-account-number}"
				method="POST">
				<select name="selectedAccountId">
					<option
						th:each="account : ${session.accounts}"
						th:value="${account.accountId}"
						th:text="${account.accountName} + ' - ' + ${account.getFormattedAccountNumber()}"></option>
				</select>
				
				<label for="amount">Amount</label>
				<input
					type="number"
					min="0.01"
					step="0.01"
					name="amount">
					
				<div>
                    <label>Transfer to:</label>
                    <input type="radio" id="internal" name="accountType" value="internal" checked>
                    <label for="internal">Another account in this application</label>
                    
                    <input type="radio" id="external" name="accountType" value="external">
                    <label for="external">External Account Number</label>
                </div>
				
				<div id="internalAccountSelect">
                    <label>Choose account:</label>
                    <select name="toOwnAccountNumber">
                        <!-- Account options here -->
                        
                        <option
						th:each="account : ${session.accounts}"
						th:value="${account.accountNumber}"
						th:text="${account.accountName} + ' - ' + ${account.getFormattedAccountNumber()}"></option>
                        
                    </select>
                </div>
				
				<div id="externalAccountInput" style="display: none;">
                    <label for="toAccountNumber">External Account Number:</label>
                    <input type="number" id="toAccountNumber" name="toAccountNumber">
                </div>
                <br>
                
				
				<button
					type="submit"
					class="debit-action-buttons">Submit</button>
			</form>
		</div>
	</div>
	<script src="../js/sidebar.js"></script>
	<script src="../js/form-handler.js"></script>
</body>
</html>