<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Customer Details</title>
<link rel="stylesheet" href="../css/header-sidebar.css">
<link rel="stylesheet" href="../css/customer-details.css">
<script src="../js/sidebar.js" defer></script>
<script src="../js/customer-details.js" defer></script>
</head>
<body>

	<!-- 	new -->
	<div class="customer-details-background"></div>
	<!-- 	new -->

	<div class="top-bar">
		<span class="menu-btn" onclick="toggleMenu()">&#9776;</span> <a
			href="customer-dashboard" class="logo-link"> <img
			src="../img/CreditOCubeLogo.png" alt="Logo" class="center-logo">
		</a>
		<!-- 		<button class="logout-button" onclick="window.location.href='login'">Logout</button> -->
	</div>

	<div class="side-menu menu-active" id="sideMenu">
		<div class="user-greeting">
			<p
				th:text="'Please check your password carefully, ' + ${customer.firstName}">Please
				check all your updated details carefully</p>
		</div>
		<a href="/customer-dashboard">Back to Home</a> <a
			href="/customer-details">Update Particulars</a>
		<!-- Add other menu items here -->
		<form th:action="@{/logout}" method="post">
			<div class="buttons">
				<button type="submit" class="login-button">Logout</button>
			</div>
		</form>
	</div>
	<div class="main-container">
		<div class="registration-container">
			<form id="registration-form" th:action="@{/update-password}"
				method="post">
				<div class="form-row">
					<div class="form-group">
						<label for="password">New Password</label> <input type="password"
							id="password" name="password" required placeholder="Password"> <span
							th:if="${passwordError}" th:text="${passwordError}"
							class="error-message"
							th:style="${passwordError} ? 'display: block;' : 'display: none;'"></span>
					</div>
					<div class="form-group">
						<label for="confirm-password">Confirm Password</label> <input
							type="password" id="confirm-password" name="confirm-password"
							required placeholder="Enter password again"> <span
							th:if="${confirmPasswordError}" th:text="${confirmPasswordError}"
							class="error-message"
							th:style="${confirmPasswordError} ? 'display: block;' : 'display: none;'"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="form-group">You will be logged out when you
						click on Update Password</label>
				</div>

				<button id="update-button" type="submit">Update Password</button>
			</form>
		</div>
	</div>

</body>

</html>