<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Credit Card Bill</title>
<link rel="stylesheet" href="../css/header-sidebar.css">
<link rel="stylesheet" href="../css/creditcard-dashboard.css">

</head>
<body>
	<!-- Top Bar -->
	<div class="top-bar">
    <span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
    <img src="../img/CreditOCubeLogo.png" alt="Logo" class="center-logo">
    
	
	
  </div>

  <div class="side-menu menu-active" id="sideMenu">
  	<div class="user-greeting">
		<P>My Credit Cards</P>
	</div>
		<a href="customer-dashboard">Back to Main dashboard</a>
		<a href="account-dashboard">View Account dashboard</a>
    	<a href="creditcard-dashboard">View Credit card dashboard</a> 
		<form th:action="@{/logout}" method="post">
			<div class="buttons">
				<button type="submit" class="login-button">Logout</button>
			</div>
		</form>
	</div>
  	

	<div class="content-area main-content">
	<div>
		<table>
			<thead>
			<h1>Viewing Card Bill</h1>
				<tr>
					<td>Total Bill Amount</td>
					<td>Outstanding Amount Due</td>
					<td>Minimum Amount Due</td>
					<td>Payment Required</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${bill.totalAmountDue}" class="price-element"></td>
					<td th:text="${bill.outstandingAmount}" class="price-element"></td>
					<td th:text="${bill.minimumAmountDue}" class="price-element"></td>
					<td th:if="${bill.paid}">No</td>
					<td th:if="${!bill.paid}">Yes</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>Transaction Date</th>
					<th>Amount</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
					<tr th:each="transaction : ${transactions}">
					<td th:text="${transaction.getFormattedTransactionDate()}"></td>
					<td>
						<span th:if="${transaction.merchant != null && transaction.merchant.merchantCode == '1'}">+</span>
						<span th:unless="${transaction.merchant != null && transaction.merchant.merchantCode == '1'}">–</span>
						<span th:text="${transaction.transactionAmount}" class="price-element"></span>
					</td>
					<td th:text="${transaction.description}"></td>
				</tr>
				<tr>
					<td th:text="${bill.getFormattedDate(bill.previousBillIssueTime)}"></td>
					<!-- <td>--/--/----</td> -->
					<!-- <td th:text="${bill.previousBillOutstandingAmount}"></td> -->
					<td>
						
						<span th:if="${bill.previousBillOutstandingAmount!=0}">–</span>
						<span th:text="${bill.previousBillOutstandingAmount}" class="price-element"></span>
					</td>
					
					<td>Balance outstanding at the start of billing cycle</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>



	<!-- JavaScript for Sidebar Toggle -->
	<script src="../js/sidebar.js"></script>
</body>
</html>