<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Transaction History</title>
<link rel="stylesheet" href="../css/header-sidebar.css">
<link rel="stylesheet" href="../css/account-creditcard-dashboard.css">

</head>
<body>
	<!-- Top Bar -->
	<div class="top-bar">
		<span class="menu-btn" onclick="toggleMenu()">&#9776;</span> <img
			src="../img/CreditOCubeLogo.png" alt="Logo" class="logo">
		<button class="logout-button" onclick="window.location.href='login'">Logout</button>
	</div>

	<div class="side-menu" id="sideMenu">
		<a href="view-transaction-history">Transaction history</a> <a href="#">Transfer money</a> <a
			href="deposit-withdraw">Deposit / Withdraw</a> <a
			href="creditcard-dashboard">Credit card dashboard</a> <a
			href="account-dashboard">Account dashboard</a> <a
			href="customer-dashboard">Main dashboard</a>
		<!-- Add other menu items here -->
	</div>

	<div th:if="${session.selectedAccount != null}">
		<table>
			<thead>
				<tr>
					<td>Transaction Date</td>
					<td>From</td>
					<td>To</td>
					<td>Transaction Type</td>
					<td>Amount</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="transaction : ${session.accountTransactions}">
					<td th:text="${transaction.debitAccountTransactionDate}"></td>
					<td th:text="${transaction.fromAccount?.accountNumber ?: '---'}"></td>
					<td th:text="${transaction.toAccount?.accountNumber ?: '---'}"></td>
					<td th:text="${transaction.debitAccountTransactionType}"></td>
					<td
						th:text="'$ '+${transaction.debitAccountTransactionAmount} + ' SGD'"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:if="${session.selectedAccount == null}">
		<p>Please choose an account from the dropdown menu below.</p>
	</div>
	<div>
		<form th:action="@{/view-transaction-history}" method="POST">
			<select name="selectedAccountId">
				<option th:each="account : ${session.accounts}"
					th:value="${account.accountId}" th:text="${account.accountName}">
				</option>
			</select>
			<button type="submit">Submit</button>
		</form>
	</div>
	



	<!-- JavaScript for Sidebar Toggle -->
		<script src="../js/sidebar.js"></script>
</body>
</html>